<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.project1_searchmovie">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.first_loading"></activity>
        <activity android:name=".adapter.commercial_adapter" />
        <activity android:name=".ui.commercial" />
        <activity android:name=".adapter.independent_adapter" />
        <activity android:name=".ui.independent" />
        <activity android:name=".adapter.weekend_adapter" />
        <activity android:name=".ui.weekend" />
        <activity android:name=".ui.movie_info" />
        <activity android:name=".ui.my_pocket" />
        <activity android:name=".adapter.foreign_movie_adapter" />
        <activity android:name=".ui.foreign_movie" />
        <activity android:name=".adapter.korea_movie_adapter" />
        <activity android:name=".ui.korea_movie" />
        <activity android:name=".adapter.weekday_adapter" />
        <activity android:name=".ui.weekday" />
        <activity android:name=".ui.first" />
        <activity android:name=".adapter.day_adapter" />
        <activity android:name=".ui.day" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>